build/
*.o
*.a
*.so
*.so.*

# Autotools
aclocal.m4
autom4te.cache/
configure
Makefile.in
compile
config.guess
config.sub
depcomp
install-sh
missing
ltmain.sh
test-driver

# Build artifacts
config.log
config.status
Makefile
.deps/
*.loT

# Editor
.idea
*~
*.swp
